target
**/target
.settings
**/settings
.project
**/.project
.classpath
**/.classpath
/.idea/
/_windows/
/colors.scheme.xml
/colors
/databaseSettings.xml
/diff.xml
/editor.xml
/ignore.xml
/toStringTemplates.xml
/debugger.renderers.xml
/find.xml
/ui.lnf.xml
/inspection
/debugger.xml
/IntelliLang.xml
/mavenVersion.xml
/parameter.hints.xml
/web-browsers.xml
/markdown.xml
/ide.general.xml
/gradle.run.settings.xml
/editor.codeinsight.xml
*.iml
